.App { 
  background-color: black;
}
.content-container{
  margin-left:200px; 
  margin-top:100px;  
  min-width:240px;
  max-width:1200px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap; 
}

.content-left-pane{ 
  width: 200px;
  position: fixed;
  align-content: flex-start;
  height:800px;
  margin-left:0;
  top:0;
  left:0;
  clear:both;

  border:2px #dddd;
  background-color: white;
}

.content-filter-pane{ 
  height: 100px;
  max-width:100%;
  display:flex;
  position: absolute;
  top:0;
  margin-left:200px;
  border:2px #dddd; 
  background-color: white;
} 
.translucent-bg{
  margin-top: -42px; background: rgba(37, 37, 37, 0.5);  z-index:16; position:absolute; width:220px;
}
.char-attbr-row{
font-size: 12px; border-bottom: 1px solid rgb(221, 221, 221); background: black; margin: 0px; width: 220px;margin:5px;height:34px;
}
.char-attbr-row-left{
  font-size: 12px; color: white; left: 0px; width: 30px;display:inline;float:left;
}
.char-attbr-row-right{
  font-size: 12px; color: orange; right: 0px; text-align: right;display:inline;float:right;
}

.my-dropdown{
  margin: auto;
  min-width: 200px;
}

.edetails{
   margin-top:20px;
  /*padding: 10px;
  font-size: 14px; */
  text-align: center;
  width: 100%;
  height:100%;
  background-color: black;
  display:inline;
}
.characterBlock{
  width:220px;
  margin:5px;
  display:block;
  top:0;
  left:0;
  clear:both;
}
.characterBlock img{
  width:220px;
  height:100%;
}
h3{
  color: white;
  font-size:18px;
  width:220px;
  display:block;
  /* margin:10px; */
  /* font-display: white; */
}